[Unit]
Description=Router Firewall and Network Setup

Wants=router-firewall-setup.service
After=network-pre.target

[Install]
WantedBy=multi-user.target
